:root {
  /* colors */
  --bg: #f3e5d8;
  --Nutmeg: hsl(14, 45%, 36%);
  --DarkRaspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --RoseWhite: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --LightGrey: hsl(30, 18%, 87%);
  --WengeBrown: hsl(30, 10%, 34%);
  --DarkCharcoal: hsl(24, 5%, 18%);

  /* font families */
  --outfit: "Outfit", sans-serif;
  --young: "Young Serif", sans-serif;
}

html {
  box-sizing: border-box;
  font-family: var(--outfit);
  font-weight: 500;
  color: var(--WengeBrown);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--Eggshell);
}

h2 {
  font-family: var(--young);
  font-weight: 500;
}

.container {
  width: 735px;
  margin: 120px auto;
  background-color: var(--White);
  border-radius: 20px;
}

.recipe_container {
  margin: 0 30px;
}

img {
  width: 100%;
  border-radius: 10px;
  margin-top: 40px;
}

.intro {
  margin-top: 0;
}

.preparation {
  background-color: var(--RoseWhite);
  padding: 20px;
  border-radius: 10px;
}

.preparation ul {
  list-style: var(--Nutmeg);
}

ol li::marker {
  list-style-type: decimal;
  color: var(--Nutmeg);
  font-weight: 700;
}

.preparation li,
.ingredients li,
.instruction li {
  padding-left: 15px;
  line-height: 30px;
}

.attribution {
  text-align: center;
  margin-bottom: 20px;
}

.intro h1 {
  font-family: var(--young);
  font-weight: 400;
  color: var(--DarkCharcoal);
}

.preparation h3 {
  color: var(--DarkRaspberry);
}

.ingredients h2,
.instruction h2,
.nutrition h2 {
  color: var(--Nutmeg);
}

table {
  width: 100%;
  border-collapse: collapse;
}

.ingredients,
.instruction {
  border-bottom: 1px solid var(--LightGrey);
}

th {
  padding: 10px;
  text-align: left;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--LightGrey);
}

span {
  font-family: var(--outfit);
  font-weight: 700;
  color: var(--WengeBrown);
}

.quantity {
  color: var(--DarkRaspberry);
}

.nutrition {
  padding-bottom: 30px;
}

@media (max-width: 700px) {
  .container {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  .recipe_container {
    margin: 0;
  }
  img {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  .recipe_guide {
    margin: 0 30px;
  }
  .intro h1 {
    font-size: 40px;
  }

  .intro p {
    line-height: 30px;
  }

  .attribution {
    margin: 30px 0;
  }
}
